@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<h1>
    Account is locked

    you can reset your password...<a asp-area=""asp-controller="Account" asp-action="ForgotPassword">Here</a>
</h1>