<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InventorySystemMysql</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link href="~/lib/kendo/css/web/kendo.bootstrap-v4.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="~/assets/css/now-ui-dashboard.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" asp-append-version="true">

    <link href="~/assets/demo/demo.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/kendo/js/kendo.all.min.js" asp-append-version="true"></script>
    <script src="~/lib/kendo/js/kendo.aspnetmvc.min.js" asp-append-version="true"></script>

</head>
<body>
    <div class="wrapper ">

        @await Html.PartialAsync("_menuBar");
        <div class="main-panel" id="main-panel">
            @await Html.PartialAsync("_header")
            <div class="panel-header panel-header-sm">
            </div>
            @RenderBody()

            @await Html.PartialAsync("_footer")
        </div>
    </div>

    @await Component.InvokeAsync("NToastNotify")
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/assets/js/core/popper.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/plugins/bootstrap-notify.js" asp-append-version="true"></script>
    <script src="~/assets/js/plugins/chartjs.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.jquery.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/now-ui-dashboard.js" asp-append-version="true"></script>
    <script src="~/assets/demo/demo.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
