<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/activitylog">
                <i class="mdi mdi-bag-personal menu-icon"></i>
                <span class="menu-title">Activity Log</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/emailtemplate">
                <i class="mdi mdi-email menu-icon"></i>
                <span class="menu-title">Email Template</span>
            </a>
        </li>

        @* <li class="nav-item"> *@
        @*   <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic"> *@
        @*     <i class="menu-icon mdi mdi-floor-plan"></i> *@
        @*     <span class="menu-title">UI Elements</span> *@
        @*     <i class="menu-arrow"></i>  *@
        @*   </a> *@
        @*   <div class="collapse" id="ui-basic"> *@
        @*     <ul class="nav flex-column sub-menu"> *@
        @*       <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li> *@
        @*       <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a></li> *@
        @*       <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li> *@
        @*     </ul> *@
        @*   </div> *@
        @* </li> *@
    </ul>
</nav>