@model ForgotPasswordViewModel
@{
}
<div class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="card  card-tasks">
                <div class="card-header ">
                    <h5 class="card-category">Forgot Password</h5>
                </div>
                <div class="card-body ">
                    <form method="post" enctype="multipart/form-data" asp-area="" asp-controller="Account" asp-action="ForgotPassword">
                        <div class="form-group">
                            <label class="required">Email</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <button type="submit" class=" btn btn-primary">Confirm Email</button>
                    </form>
                </div>
                <div class="card-footer ">

                </div>
            </div>
        </div>
    </div>
</div>