{
  "ConnectionStrings": {
    "Default": "Server=localhost;Database='';Uid='';Pwd='';Convert Zero Datetime=True; SSL Mode=0"
  },
  "Google": {
    "ClientId": "",
    "ClientSecret": ""
  },
  "Facebook": {
    "ClientId":"" 
    "ClientSecret": ""
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "EmailConfiguration": {
    "From": "camryn.cruickshank58@ethereal.email",
    "SmtpServer": "smtp.ethereal.email",
    "Port": 587,
    "Username": "camryn.cruickshank58@ethereal.email",
    "Password": "qVnwd13BVUGJnYRvqT"
  },
  "AllowedHosts": "*"
}
