@model IList<InventorySystemMysql.Areas.Inventory.ViewModels.Category.CategoryIndexViewModel>
@{

}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card  card-tasks">
                <div class="card-header ">
                    <h5 class="card-category">Category</h5>

                </div>

                <div class="card-body ">
                  <div class=" form-group">
                      <a class="btn btn-sm btn-info" asp-area="Inventory" asp-controller="Category" asp-action="Create"><i class="fa fa-plus"></i> Add</a>
                  </div>
                        <table id="categoryTable" class="table-responsive  table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Status</th>

                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td> @item.Id</td>
                                        <td> @item.Name</td>
                                        <td> @item.Status</td>
                                        <td>
                                            <a class=" btn btn-primary btn-sm"asp-area="Inventory" asp-controller="Category" asp-action="Update" asp-route-categoryId="@item.Id">Edit</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                   
                </div>
                <div class="card-footer ">

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $('#categoryTable').dataTable({
        });
    </script>
}
